.dashboard-layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--bg-main);

  .main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: var(--sidebar-width); // Sidebar is fixed
    transition: margin-left 0.3s ease;
  }

  .content {
    padding: 24px;
    flex: 1;
  }
}

@media (max-width: 992px) {
  .dashboard-layout {
    .main-container {
      margin-left: 0;
    }
  }
}
